In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [2]:
db_host = "gupeveno.mysql.db.hostpoint.ch"
db_name = "gupeveno_backendAzolla"
db_username = "gupeveno_azbeu"
db_password = "backend_GoNet0"

db_connection_string = f"mysql+pymysql://{db_username}:{db_password}@{db_host}/{db_name}"

In [3]:
db_engine = create_engine(db_connection_string)
db_connection = db_engine.connect()

In [6]:
query = text("SELECT * FROM transactions")

df = pd.read_sql(query, con=db_connection)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   transaction_id            144 non-null    int64
 1   user_id                   144 non-null    int64
 2   subscription_id           76 non-null     float64
 3   quantity                  57 non-null     float64
 4   product_name              144 non-null    object
 5   type                      144 non-null    object
 6   timestamp                 144 non-null    datetime64[ns]
 7   reference_number          144 non-null    object
 8   stripe_session_id         140 non-null    object
 9   stripe_invoice_id         62 non-null     object
 10  stripe_customer_id        91 non-null     object
 11  datatrans_transaction_id  144 non-null    object
 12  price_amount              144 non-null    int64
 13  price_currency            144 non-null    object
 14  carbon_amount             144 non-null    int64
 15  carbon_mix                144 non-null    object
 16  transaction_status        144 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(4), object(10)
memory usage: 19.3+ KB
None